<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://localhost:3000" />
                <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, PATCH" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Token, Accept" />
                <add name="Access-Control-Max-Age" value="1728000" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
